.coin-boom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  background: #fcef50;
  border: 4px solid #f0d01e;
  border-radius: 20px;
  transform:  scale(0)
}

.coin-boom-core {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  width: 100%;
  height: 100%;

  background: url('../img/test-coin.png');
  background-size: cover;

  transform:  scale(0)
}


.coin[data-is-animated="1"][data-is-caught="1"] .coin-hp2{display: none}
.coin[data-is-animated="1"][data-is-caught="1"] .coin-hp1{
  animation-play-state: paused;
}

.coin[data-is-caught="1"] .coin-boom-core {
  animation: coin-hide 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-1 {
  animation: coin-collect-1 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-2 {
  animation: coin-collect-2 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-3 {
  animation: coin-collect-3 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-4 {
  animation: coin-collect-4 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-5 {
  animation: coin-collect-5 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-6 {
  animation: coin-collect-6 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-7 {
  animation: coin-collect-7 500ms linear;
}

.coin[data-is-caught="1"] .coin-boom-8 {
  animation: coin-collect-8 500ms linear;
}

@keyframes coin-hide {
  0% {
    transform:  scale(1) rotate(0deg)
  }

  100% {
    transform: scale(0) rotate(360deg)
  }
}


@keyframes coin-collect-1 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(0,-60px,0) scale(0)
  }
}

@keyframes coin-collect-2 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(41px,-41px,0) scale(0)
  }
}

@keyframes coin-collect-3 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(60px,0,0) scale(0)
  }
}

@keyframes coin-collect-4 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(41px,41px,0) scale(0)
  }
}

@keyframes coin-collect-5 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(0,60px,0) scale(0)
  }
}

@keyframes coin-collect-6 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(-41px,41px,0) scale(0)
  }
}

@keyframes coin-collect-7 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(-60px,0,0) scale(0)
  }
}

@keyframes coin-collect-8 {
  0% {
    transform: translateY(0px) scale(1)
  }

  100% {
    transform: translate3D(-41px,-41px,0) scale(0)
  }
}
