$ANIMATION_TIME: 170ms;

$hand-w: image-width("../img/hands/3.png");
$hand-h: image-height("../img/hands/3.png");

$wrist-w: image-width("../img/hands/2.png");
$wrist-h: image-height("../img/hands/2.png");

$palm-w: image-width("../img/hands/1.png");
$palm-h: image-height("../img/hands/1.png");

.man {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: -30px;
}

.man-body {
  position: relative;
  width: image-width("../img/man-body.png");
  height: image-height("../img/man-body.png");
  margin: auto;
  background: url("../img/man-body.png") no-repeat;
}

.man-hand {
  width: 2px;
  height: 2px;
  position: absolute;
  top: 279px;
  left: 229px;
}

.man-hand-hp1,
.man-hand-hp2,
.man-hand-hp3,
.man-hand-hp4 {
  transition: transform $ANIMATION_TIME ease-out;
}

%hand-circle {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: $hand-w;
  height: $hand-w;
  border-radius: 1000px;
  background: #7baa5e;
}

%hand-circles{
  &:after{
    top: -$hand-w/2;
    left: 0;
    @extend %hand-circle;
  }
  &:before{
    bottom: -$hand-w/2;
    left: 0;
    @extend %hand-circle;
  }
}

.man-hand-hp1 {
  position: absolute;
  z-index: 1;

  background: url("../img/hands/1.png") no-repeat;
  width: $palm-w;
  height: $palm-h;

  top: $hand-h;
  left: $hand-w/2 - $palm-w/2;

  transform-origin: ($palm-w / 2)  ($palm-w / 2);
}

.man-hand-hp2 {
  position: absolute;
  z-index: 2;

  background: url("../img/hands/2.png") no-repeat;
  width: $wrist-w;
  height: $wrist-h;

  bottom: -$wrist-h/2;
  left: -$wrist-w/4;

  transform-origin: ($wrist-w / 2) ($wrist-h/2);
}

.man-hand-hp3 {
  position: absolute;
  bottom: -$hand-h;
  background: url("../img/hands/3.png") no-repeat;
  width: $hand-w;
  height: $hand-h;
  transform-origin: ($hand-w / 2)  0;

  @extend %hand-circles;
}

.man-hand-hp4 {
  position: absolute;

  background: url("../img/hands/3.png") no-repeat;
  width: $hand-w;
  height: $hand-h;
  transform-origin: ($hand-w / 2)  0;

  @extend %hand-circles;
}

$positions-dozen:
(id: 2, rot1: -50deg, rot2: -50deg, rot3: -15deg, rot4: -10deg),
(id: 4, rot1: 90deg, rot2: 40deg, rot3: -135deg, rot4: -0deg),
(id: 6, rot1: 80deg, rot2: 40deg, rot3: -120deg, rot4: -70deg),
(id: 8, rot1: 40deg, rot2: 10deg, rot3: -30deg, rot4: -140deg);

@each $position in $positions-dozen {
  $key: map-get($position, id);
  $rot1: map-get($position, rot1);
  $rot2: map-get($position, rot2);
  $rot3: map-get($position, rot3);
  $rot4: map-get($position, rot4);

  .man-hand[data-pos="#{$key}"], .man-hand[data-pos="#{$key - 1}"] {

    .man-hand-hp1 {
      transform: rotate($rot1);
    }
    .man-hand-hp2 {
      transform: rotate($rot2);
    }
    .man-hand-hp3 {
      transform: rotate($rot3);
    }
    .man-hand-hp4 {
      transform: rotate($rot4);
    }
  }
}

// Invert even hand:
.man-hand-even {
  left: 119px;
  transform: scaleX(-1);
}

.man-hand-dozen {

}
