html, body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

body{
  &:after {
    content: '';
    display: block;
    position: fixed;
    top: -440px;
    left: -940px;
    z-index: 1;

    background: url('../img/bg-2.png');
    width: image-width("../img/bg-2.png");
    height: image-height("../img/bg-2.png");

    animation: rotate-bg 200000ms linear infinite;
  }
}

$game-width: 1680px;
$game-height: 1050px;

.fs-game {
  top: 0;
  position: absolute;
  z-index: 20;
  transition: transform 1s ease-out;
}

.fs-game[data-state="0"]{
  transform: translate3D(0px, 0px, 0px);
}

.fs-game[data-state="1"]{
  transform: translate3D(0px, -$game-height, 0px);
}

.fs-game[data-state="2"]{

  transform: translate3D(0px, -$game-height * 2 , 0px);
}

.fs-game-bg {
  width: $game-width;
  height: $game-height;
  background: url('../img/bg-3.png');
  background-size: cover;
}

.fs-game-wrap {
  width: $game-width;
  height: $game-height * 3;
  position: relative;
  overflow: hidden;
}

@keyframes rotate-bg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.welcome {
  width: 100%;
  height: $game-height;
}

.select-team {
  width: 100%;
  height: $game-height;
}

.welcome-text {
  font-family: trebuchet ms;
  font-size: 100px;
  position: absolute;
  z-index: 2;
  top: $game-height/2;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  margin: auto;
  color: #fff;
}

.sale-banner {
  display: none;

  width: 440px;
  height: 100px;
  background: url('../img/test-banner.png');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  transition: transform 1s ease-out;
  transform: translate3D(0px, 0px, 0px);
}

.sale-banner[data-position="0"] {
  transform: translate3D(0px, -100px, 0px);
}

.sale-banner[data-position="1"] {
  transform: translate3D(0px, 80px, 0px);
}

.sale-banner[data-position="2"] {
  transition: transform 2s ease-out;
  transform: translate3D(0px, 100vh, 0px);
}
.result {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  margin-left: -400px;
  height: 400px;
  margin-top: -200px;
  font-size: 120px;
  color: red;
  z-index: 100;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
}