html, body {
  padding: 0;
  margin: 0;
  border: 0;
  overflow: hidden;
}

body{
  &:after {
    content: '';
    display: block;
    position: fixed;
    top: -440px;
    left: -940px;
    z-index: 1;

    background: url('../img/bg-2.png');
    width: image-width("../img/bg-2.png");
    height: image-height("../img/bg-2.png");

    animation: rotate-bg 200000ms linear infinite;
  }
}

$game-width: 1680px;
$game-height: 1050px;

.fs-game {
  top: 0;
  position: absolute;
  z-index: 20;
  transition: transform 1s ease-out;
}

.fs-game[data-state="0"]{
  transform: translate3D(0px, 0px, 0px);
}

.fs-game[data-state="1"]{
  transform: translate3D(0px, -$game-height, 0px);
}

.fs-game[data-state="2"]{
  transform: translate3D(0px, -$game-height * 2 , 0px);


}

.fs-game-bg {
  width: $game-width;
  height: $game-height;
  background: url('../img/bg-3.png');
  background-size: cover;
}

.fs-game-wrap {
  width: $game-width;
  height: $game-height * 3;
  position: relative;
  overflow: hidden;
}

@keyframes rotate-bg {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



.welcome {
  width: 100%;
  height: $game-height;
}


.welcome-text {
  font-family: trebuchet ms;
  font-size: 100px;
  position: absolute;
  z-index: 2;
  top: $game-height/2;
  left: 0;
  right: 0;
  text-align: center;
  display: inline-block;
  margin: auto;
  color: #fff;
}

.welcome-bg {
  background: url('../img/start-bg.png');
  width: image-width("../img/start-bg.png");
  height: image-height("../img/start-bg.png");
  position: absolute;
  left: 0;
  right: 0;
  top: 170px;
  margin: auto;
}

.welcome-top {
  position: absolute;
  width: 710px;
  top: 168px;
  left: 190px;
  font-family: trebuchet ms;
}
.welcome-top-li {
  padding: 25px;
  margin-bottom: 4px;
  color: #fff;
  font-size: 30px;
  &:after{
    clear: both;
    content: '';
    display: block;
  }
}
.welcome-top-team {
  float: left;
}
.welcome-top-score {
  float: right;
}


.sale-banner {
  width: 440px;
  height: 100px;
  background: url('../img/test-banner.png');
  background-size: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;

  transition: opacity 10ms linear;
  transition: transform 1s ease-out;
  transform: translate3D(0px, 0px, 0px);
}

.sale-banner[data-position="0"] {
  transform: translate3D(0px, -100px, 0px);
  opacity: 0;
}

.sale-banner[data-position="1"] {
  transform: translate3D(0px, 80px, 0px);
  opacity: 1;
}

.sale-banner[data-position="2"] {
  transition: transform 2s ease-out;
  transform: translate3D(0px, 100vh, 0px);
  opacity: 1;
}


.result {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 800px;
  margin-left: -400px;
  height: 400px;
  margin-top: -200px;
  font-size: 120px;
  z-index: 100;
  text-align: center;
  font-family: Trebuchet MS;
  font-weight: bolder;

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    //background: url('../img/result-bg.png');

    background: rgba(100,200,255,0.8);
    width: $game-width;
    height: $game-height;
    background-size: cover;
  }
}


.result-text {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffe83d), color-stop(100%, #faac00));
  background-image: -webkit-linear-gradient(#ffe83d,#faac00);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff;
  position: relative;
  z-index: 4;
}

.result-text-shadow {
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 1;
}

.countdown[data-is-count="1"]{

  transform: scale(1);
}

.countdown {
  transition: transform 0.3s ease-out;
  font-family: Trebuchet MS;
  font-weight: bold;
  color: #fff;
  font-size: 170px;
  transform: scale(0);

  width: 100px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  text-shadow: 0 5px 5px rgba(0,0,0,.2);
}

